<!-- <div class="outer"> -->


  <!-- row 01 -->
  <div class='outterWraper'>
    
    <div class='cardSpacing'>
      <div class='mat-elevation-z4 innerWrapper'>
        <div class="header idealsColor">
          Languages
        </div>
  
        <div class="content">
            <table>

            </table>
        </div>
      </div>  
    </div>

    <div class='cardSpacing'>
      <div class='mat-elevation-z4 innerWrapper'>
      <div class="header idealsColor">
        Software
      </div>
      <div class="content flexdiv">
        <table>

        </table>
      </div>
    </div>
  </div>


  </div>



  <!-- epic destiny -->
  <div class='progressionCard'>
    <div class='mat-elevation-z4 innerWrapper'>
        <div class="header idealsColor" (click)='showUniversityCourses = !showUniversityCourses;'>
              <label>{{ldata.CNU.name}}</label>
              <mat-icon style='float:right;'>list</mat-icon>
              <p style='float:right; padding-right: 1rem;'>B.S. Computer Science, Magna Cum Laude</p>
        </div>
  
        <div class="content" *ngIf='showUniversityCourses'>
            <div>
                <p>3.71 GPA</p>
                <p>2018 - 2020</p>
            </div>
          <mat-accordion multi="true">
            <mat-expansion-panel *ngFor='let course of ldata.CNU.course'
              style='max-width: 40rem; font-size: 16px; white-space: pre-wrap;'>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{course.name}}
                </mat-panel-title>
                <mat-panel-description class='right-aligned'>
                  <div>{{course.code}}</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class='flexdiv content' style='flex-direction: column;'>
                <label>Description:</label>
                <mat-divider></mat-divider>
                <label>{{course.description}}</label>
              </div>
            <mat-action-row>
              </mat-action-row>
              <mat-card-content style='font-size: 16px; white-space: pre-wrap;'>
              </mat-card-content>
  
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
  </div>

  <!-- basic class -->
  <div class='progressionCard'>
    <div class='mat-elevation-z4 innerWrapper'>
      <div class="header personalityColor" (click)='showCommunityCourses = !showCommunityCourses;'>
            <label>{{ldata.TCC.name}}</label>
            <mat-icon style='float:right;'>list</mat-icon>
            <p style='float:right; padding-right: 1rem;'>A.S. Computer Science, Cum Laude</p>
            <!-- <div style='float:right;'><button mat-button (click)='addLevel()' [disabled]='levelRef.length > 10'>Add Level</button></div> -->
      </div>

      <div class="content" *ngIf='showCommunityCourses'>
        <div>
            <p>3.22 GPA</p>
            <p>2013 - 2015</p>
        </div>
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor='let course of ldata.TCC.course'
            style='max-width: 40rem; font-size: 16px; white-space: pre-wrap;'>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.name}}
              </mat-panel-title>
              <mat-panel-description class='right-aligned'>
                <div>{{course.code}}</div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class='flexdiv content' style='flex-direction: column;'>
              <label>Description:</label>
              <mat-divider></mat-divider>
              <label>{{course.description}}</label>
              <!-- <button mat-button [style.background-color]='"rgb(127, 0, 127)"'>
                <table>
                  <tr>
                    <div [style.color]='true ? "#ffffff" : "rgba(255, 255, 255, 0.222)"'>
                      <td style='min-width: 4.5rem; text-align: right;'>category | </td>
                      <td style='width: 13rem; text-align: left;'>name</td>
                      <td style='width: 8rem; text-align: right;'>classname</td>
                      <td style='width: 4rem; text-align: left;'>type</td>
                      <td style='width: 2rem; text-align: left;'>lvl</td></div>
                  </tr>
                </table>
              </button>   -->
              <!-- <label>Skill Training</label>
              <mat-divider></mat-divider> -->
            </div>
          <mat-action-row>
              <!-- <button mat-stroked-button color="warn" (click)="deleteConfirm = !deleteConfirm">- Level</button>
              <button mat-stroked-button color="primary" (click)="newLevelPower(item)">+ Power</button>
              <button mat-stroked-button color="mediumseagreen" (click)="donothing()">+ Effect</button>
              <button mat-stroked-button color="accent" (click)="donothing()">+ ASI</button>
              <button mat-stroked-button color="accent" (click)="donothing()">+ Feat</button>
              <button mat-stroked-button color="accent" >+ SkillTraining</button> -->
            </mat-action-row>
            <mat-card-content style='font-size: 16px; white-space: pre-wrap;'>
              <!-- <mat-divider></mat-divider>
              <label style='font-weight: bold;'>This will also delete ALL later levels. Are you sure?</label>
              <label></label>
              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="deleteConfirmName" placeholder='Enter "yes" to confirm for deletion'>
                </mat-form-field>
                <button mat-button class='mat-elevation-z4' color='warn' [disabled]='deleteConfirmName !== "yes"'
                  (click)='deleteLevels(item)'>
                  Delete
                </button>
              </div> -->
            </mat-card-content>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>


  <!-- amazing -->
  <div class='progressionCard'>
    <div class='mat-elevation-z4 innerWrapper'>
        <div class="header backgroundColor">
              <label>Other</label>
              <mat-icon style='float:right;'>list</mat-icon>
        </div>
  
        <div class="content">
          <mat-accordion multi="true">
            <mat-expansion-panel 
              style='max-width: 40rem; font-size: 16px; white-space: pre-wrap;'>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  name
                </mat-panel-title>
                <mat-panel-description class='right-aligned'>
                  <div>code or abbrev</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class='flexdiv content' style='flex-direction: column;'>
                <label>Description:</label>
                <mat-divider></mat-divider>
                <label>descriptsssssssssss</label>
              </div>
            <mat-action-row>
              </mat-action-row>
              <mat-card-content style='font-size: 16px; white-space: pre-wrap;'>
              </mat-card-content>
  
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
  </div>


<!-- </div> -->