<!-- row 01 -->
<div class='outterWraper'>

    <div class='cardSpacing'>
        <div class='mat-elevation-z4 innerWrapper'>
            <div class="header purpleColor">
                Languages
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th style='padding-right: 1rem;'>Rank</th>
                        <th></th>
                    </tr>
                    <tr *ngFor='let lang of ldata.progLangs.langs; index as i'>
                        <td style='text-align: right; padding-right: 1rem;'>{{i}}</td>
                        <td>{{lang.name}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <mat-icon>sort</mat-icon>
                <button mat-flat-button (click)='ldata.progLangs.sortByName()'>name</button>
                <button mat-flat-button (click)='ldata.progLangs.sortByStrength()'>strength</button>
                <button mat-flat-button (click)='ldata.progLangs.sortByPreference()'>preference</button>
            </div>

        </div>
    </div>

    <div class='cardSpacing'>
        <div class='mat-elevation-z4 innerWrapper'>
            <div class="header purpleColor">
                Software
            </div>
            <div class="content flexdiv">
                <table>
                    lots of name-drop stuff goes here
                </table>
            </div>
        </div>
    </div>


</div>



<!-- epic destiny -->
<div class='progressionCard'>
    <div class='mat-elevation-z4 innerWrapper'>
        <div class="header blueColor" (click)='showUniversityCourses = !showUniversityCourses;'>
            <label>{{ldata.CNU.name}}</label>
            <mat-icon style='float:right;'>list</mat-icon>
            <p style='float:right; padding-right: 1rem;'>B.S. Computer Science, Magna Cum Laude</p>
            <br>
            <label>2018 - 2020</label>
        </div>

        <div class="content" *ngIf='showUniversityCourses'>
            <div>
                <p>3.71 GPA</p>
            </div>
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor='let course of ldata.CNU.course'
                    style='max-width: 40rem; font-size: 16px; white-space: pre-wrap;'>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{course.name}}
                        </mat-panel-title>
                        <mat-panel-description class='right-aligned'>
                            <div>{{course.code}}</div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class='flexdiv content' style='flex-direction: column;'>
                        <label>Description:</label>
                        <mat-divider></mat-divider>
                        <label>{{course.description}}</label>
                    </div>
                    <mat-action-row>
                    </mat-action-row>
                    <mat-card-content style='font-size: 16px; white-space: pre-wrap;'>
                    </mat-card-content>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

<!-- basic destiny -->
<div class='progressionCard'>
    <div class='mat-elevation-z4 innerWrapper'>
        <div class="header blueColor" (click)='showCommunityCourses = !showCommunityCourses;'>
            <label>{{ldata.TCC.name}}</label>
            <mat-icon style='float:right;'>list</mat-icon>
            <p style='float:right; padding-right: 1rem;'>A.S. Computer Science, Cum Laude</p>
            <br>
            <label>2013 - 2015</label>
        </div>

        <div class="content" *ngIf='showCommunityCourses'>
            <div>
                <p>3.22 GPA</p>
            </div>
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor='let course of ldata.TCC.course'
                    style='max-width: 40rem; font-size: 16px; white-space: pre-wrap;'>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{course.name}}
                        </mat-panel-title>
                        <mat-panel-description class='right-aligned'>
                            <div>{{course.code}}</div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class='flexdiv content' style='flex-direction: column;'>
                        <label>Description:</label>
                        <mat-divider></mat-divider>
                        <label>{{course.description}}</label>
                        <mat-card-content style='font-size: 16px; white-space: pre-wrap;'>
                        </mat-card-content>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>


<!-- amazing destiny -->
<div class='progressionCard'>
    <div class='mat-elevation-z4 innerWrapper'>
        <div class="header redColor">
            <label>Other</label>
            <mat-icon style='float:right;'>list</mat-icon>
        </div>

        <div class="content">
            <mat-accordion multi="true">
                <mat-expansion-panel style='max-width: 40rem; font-size: 16px; white-space: pre-wrap;'>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            name
                        </mat-panel-title>
                        <mat-panel-description class='right-aligned'>
                            <div>code or abbrev</div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class='flexdiv content' style='flex-direction: column;'>
                        <label>Description:</label>
                        <mat-divider></mat-divider>
                        <label>the quick brown fox jumps over the lazy dog</label>
                    </div>
                    <mat-action-row>
                    </mat-action-row>
                    <mat-card-content style='font-size: 16px; white-space: pre-wrap;'>
                    </mat-card-content>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

<!-- add a section to search by definition of keywords just to reiterate in my own words what they are -->