/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
// body { background-color: #181818; margin: 0; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; color: #ffffff; }
body { background-color: #181818; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #ffffff; }
/*p{ color: #ffffff;}*/


/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

// generally useful classes ------------------------------------------------------------------
  .noclip {
    min-width:fit-content;
  }
  
  .noborder {
    margin: 0px;
    padding: 0px;
  }

  .toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .lowalpha {
    color: rgba(255, 255, 255, 0.333);
  }
  
  .base {
    body { background-color: #181818; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #ffffff; }
  }
    
  .borderdetection {
    border: blanchedalmond;
    border-width: 2px;
    border-style: solid;
  }

  .flexdiv {
    display: flex;
  }

  .maxwidth {
    width: 100%;
  }

// style classses ------------------------------------------------------------------

    .floatingbox {
    background-color: #222222;
    margin: 4px;
  }
  


// card class stuff ------------------------------------------------------------------


.cardTitle {
    padding: 6px;
  }
  
  .cardDescrip {
    padding: 4px;
    font-size: 16px;
    white-space: pre-wrap;
  }
  
  .mat-card {
    padding: 0px;
    border-radius: 0px;
    max-width: 24rem;
  }


  // progression CSS

.outterWraper {
  display: flex;
  flex-wrap: wrap;
}

.cardSpacing {
  max-width: 20rem;
  padding: .5rem;
}

.personaCard {
  min-width: 20rem;
  max-width: 20rem;
  padding: .5rem;
}

.progressionCard {
  min-width: 20rem;
  width: 36rem;
  max-width: 40rem;
  padding: .5rem;
}


.header {
  padding: 1rem;
}

.content {
  background-color: #222222;
  padding: 0.5rem;
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
  font-size: 16px;
  white-space: pre-wrap;
}

.green2Color {
  background-color:rgb(66, 122, 61);
}
.darkRedColor {
  background-color:rgb(71, 5, 0);
}
.blueColor {
  background-color:rgb(62, 103, 124);
}
.purpleColor {
  background-color:rgb(89, 61, 122);
}
.bondsColor {
  background-color:rgb(122, 122, 61);
}
.greenColor {
  background-color:rgb(50, 122, 61);
}
.redColor {
  background-color:rgb(122, 50, 61);
}


.mat-select-panel {
    max-height: 24rem !important;
  }
  .mat-selection-list {
    max-height: 24rem !important;
  }